
<div id="maindiv" style="background-image: url('../assets/background.jpg');">

    <div class="hdn">
      <h2>Welcome Company</h2>
    </div>
  
    <div id="subdiv">
      <div class="d-flex align-items-center flex-column mt-4 pt-4" >
        <ul class="list-unstyled">
          <li class="mb-2">
            <button (click)="onPostInternship()">POST INTERNSHIP</button>
          </li>
          <li class="mb-2">
            <button (click)="onApplicationStatus()">INTERNSHIP APPLICATION STATUS</button>
          </li>
          <li class="mb-2">
            <button (click)="listIntern()">APPLIED INTERNS LIST</button>
          </li>
          <li class="mb-2"><a href="#logout">LOGOUT</a></li>
        </ul>
      </div>
    </div>
    
    
  </div>