
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">Welcome Student</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a routerLink="studenthome">STUDENT HOME</a></li>
                <!-- <li><a href="#logout">FINDNOt INTERNSHIP</a></li> -->
                <li><a routerLink="applied_internship">APPLIED INTERNSHIP</a></li>
                <li><a href="#logout">LOGOUT</a></li>  
            </ul>
        </nav>
    </div>
</header>


