
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">The Intern's Choice</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a routerLink="homecomp">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Group</a></li>
                    <li class="menu-has-children"><a href="#Login">Login</a>
                        <ul>
                            <li><a routerLink="Studentlogin">Studentlogin</a></li>
                            <li><a routerLink="Recruiterlogin">Recruiterlogin</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="#studentreg">Registration</a>
                        <ul>
                            <li><a routerLink="student_registration">Student</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- <router-outlet></router-outlet> -->


