<div id="maindiv" style="background-image: url('../assets/background.jpg')">
    <div id="subdiv">
        <form method="get">
            <div class="formchild">
                <!-- <h1>{{postIntern}}</h1> -->
            </div>
            <label>
                <p class="label-txt">COMPANY ID</p>
                <input type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">COMPANY NAME</p>
                <input type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>

            <label>
                <p class="label-txt">DOMAIN</p>
                <input type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>

            <label>
                <p class="label-txt">DURATION</p>
                <input type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>

            <label>
                <p class="label-txt">LOCATION</p>
                <input type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <button type="submit" (click)="onPost()">POST INTERNSHIP</button>
        </form>
    </div>
</div>